* {
  margin: 0;
  background-color: black;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  width: 300px;
  height: 300px;
  background-color: red;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

input {
  background-color: white;
  width: 50px;
}

.inputs {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  gap: 10px;
}

.styled-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

#css-code {
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  margin-top: 12px;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.2s;
  font-size: xx-large;
}

.material-symbols-outlined:hover {
  color: red;
}
